body{
    margin: 0;
    padding: 0;
}
.footStyle {
    background-color:rgb(34, 31, 31);
    padding: 30px;
    margin-top: 5%;
    
}
.hello{
    color: white;
    text-align: center;
}



.fdiv{
    background-color: rgb(107, 58, 58);
    padding: 5px;
    display: flex;
    /* position: fixed; */
}
.logoDiv{
  margin-left: 20px; 
 padding-top:15px;
 color: white;
 cursor: pointer;
 position: absolute;

}
.moveTop{
margin-top: 5% !important;
}

.uli{
    display: flex;
    gap: 50px;
    margin-left: 700px;
    padding: 5px;
    list-style: none;
    padding-top: 20px;
}
.uli li{
    color: white;
}
.uli li:hover{
color: black;
}
.logoDiv-Allset{

}

.tableitem{
  width: 50%;
  padding: 10px;

}


.head{
    color: white;
    padding: 5px;
    margin-left: 15px;

}
.center-footer{
    display: flex;
    gap: 300px;
    justify-content: center;
}
.about{
    margin-left: 500px;
    color: white;
    
}
.footer-ul{
    list-style-type: none;
    margin-right: 80px;
}
.footer-ul li{
    color: white;
}
.all-right{
    text-align: center;
    color: white;
}
.logo-image{
    border-radius: 50px;
    width: 50px;
    height: 50px;
    margin-top: 20px;
    padding: auto;
}
.footer-text{
    color: white;
}
.bi-list-nested{
    display: block !important;
}
.navinner-container{
    margin-left: 20%;
}
.badge0{
background-color: white !important;
color: black;
padding-left: 5px;
padding-right: 5px;
font-weight: 800;
}
.badgeMain{
  background-color: black !important;
  padding: 10px;
  border-radius: 5px;
  margin-left: 5%;
  cursor: pointer;
}




.backToHome {
  padding: 10px;
  /* background-color: #E5F7FF; */
  border: none;
  color: #2E2D4D;
  font-family: 'Poppins', sans-serif;
  font-size: 0.9em;
  margin-top: 10%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
}
.saveIconDiv {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 5px;
  border-bottom: 3px solid #E5F7FF;
  /* padding-right: px; */
  font-size: 0.8em;
  transition: box-shadow 0.5s ease, transform 0.5s ease;
}

.saveIconDiv:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  /* Add nice shadow effect on hover */
  transform: translateY(-5px);
  padding: 0px 3px 0px 0px;
  border-radius: 5px;
}
.saveIcon {
  font-size: 2em;
  cursor: pointer;
}
.shareIconDiv {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 0.8em;
  border-bottom: 3px solid #E5F7FF;
  transition: box-shadow 0.5s ease, transform 0.5s ease;
}

.shareIconDiv:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  /* Add nice shadow effect on hover */
  transform: translateY(-5px);
  padding: 0px 3px 0px 0px;
  border-radius: 5px;
}

.shareIconspan {
  background-color: #E5F7FF;
  padding: 10px;
  border-radius: 10px;
  font-size: 0.8em;
}









 

.nav-container-c{
    background: #EBEBEC;
    height: 80px;
    width: 100%;
    display: flex !important;
    position: fixed;
    z-index: 5;
    top: 0 !important;
    padding-left: 10% !important;
  }
  label.logo{
    color: #011B58;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
  }
  .nav-container-c ul{
    /* float: right; */
    margin-left: 5%;
   
    
  }
  .nav-container-c ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    list-style-type: none;
  }
  .nav-container-c ul li a{
    color: #011B58;
    font-size: 17px;
    padding: 10px 30px;
    border-radius: 3px;
    text-transform: uppercase;

  }
  a.active,a:hover{
    /* background: #1b9bff; */
    transition: .5s;
  }
  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  @media (max-width: 952px){
    label.logo{
      font-size: 30px;
      padding-left: 50px;
    }
    nav ul li a{
      font-size: 16px;
    }
  }
  @media (max-width: 858px){
    .checkbtn{
      display: block;
    }
    .tableitem{
      width: 100%;
    
    }
    /* ul{
      position: fixed;
      width: 50%;
      height: 100vh;
      background: #2c3e50;
      top: 80px;
    
      transition: all .5s;
      overflow-x: hidden !important;
    } */
    .nav-container-c ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
      color: white !important;
    }
    .nav-container-c ul li a{
      font-size: 20px;
      color: white !important;
    }
    a:hover,a.active{
      background: none;
      color: #0082e6;
    }
    #check:checked ~ ul{
      left: 0;
    }
  }
  /* .section-nest{
    background: url(bg1.jpg) no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
  } */
  @import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
  .sec-footer {
    padding: 60px 0;
    
}

.sec-footer .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background: #011B58 !important;
}
#footer h5{
  padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
  padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
  font-size:25px;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease;
}
#footer ul.social li:hover a i {
  font-size:30px;
  margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
  color:#ffffff;
}
#footer ul.social li a:hover{
  color:#eeeeee;
}
#footer ul.quick-links li{
  padding: 3px 0;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease;
}
#footer ul.quick-links li:hover{
  padding: 3px 0;
  margin-left:5px;
  font-weight:700;
}
#footer ul.quick-links li a i{
  margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px){
  #footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
}
.navlink-style{
  text-decoration: none;
  color: black;
}
.profileback-container{
  background-image: url("../images/cartracking.jpg");
  /* background-size: ; */
  margin-top: 5%;
  height: 350px !important;
}


.logo-SElf{
  width: 40px;
}

.nav-main-NAv {
  /* height: 60px; */
  width: 100%;
  background-color: #011B58;
  position: fixed;
  height: 60px;
  z-index: 100;
  
}

.nav-main-NAv > .nav-header {
  /* display: inline; */
}

.nav-main-NAv > .nav-header > .nav-title {
  /* display: inline-block; */
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav-main-NAv > .nav-btn {
  display: none;
}

.nav-links {
  display: inline;
  margin-left: 40%;
  font-size: 18px;
  color: white;
  width: 30%;

 }
 .nav-links a {
  cursor: pointer;
 }

.nav-main-NAv > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
 padding-left: 50px;
 color: white;
 
}

.nav-main-NAv > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav-main-NAv > #nav-check {
  display: none;
}
/* h1{
  text-align: center;
  color: #4181ee;
} */
.wrapper{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card{
 max-width: 300px;
  min-height: 250px;
  background: #02b875;
  padding: 30px;
   border-radius: 3px;
  box-sizing: border-box;
  color: #FFF;
  margin:20px;
   box-shadow: rgb(50 50 93 / 25%) 0px 30px 60px -12px, rgb(0 0 0 / 30%) 0px 18px 36px -18px;
}
.card:nth-child(2){
 background: #4181ee;
}
.card:last-child{
 background: #673ab7;
}
.card-title{
  margin-top: 0;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1.2px;
}
.card-content{
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: 1.5;
}
.card-btn{
  all: unset;
  display: block;
  margin-left: auto;
  border: 2px solid #FFF;
  padding: 10px 15px;
  border-radius: 25px;
  font-size: 10px;
  font-weight: 600;
  transition: all 0.5s;
  cursor: pointer;
  letter-spacing: 1.2px;
}
.card-btn:hover{
 color:#02b875;
 background: #FFF;
}
.card:nth-child(2) .card-btn:hover{
 color:#4181ee;
 background: #FFF;
}
.card:last-child .card-btn:hover{
 color:#673ab7;
  background: #FFF;
}

@media(max-width: 1700px){
  .nav-links {
    display: inline;
    margin-left: 50%;
    font-size: 18px;
    color: white;
  
    width: 100%;
   }


}
@media(max-width:1400px){
.nav-links {
    display: inline;
    margin-left: 40%;
    font-size: 18px;
    color: white;
  
    width: 100%;
   }
}

@media(max-width: 1200px){
  .nav-links {
    display: inline;
    margin-left: 40%;
    font-size: 18px;
    color: white;
  
    width: 50%;
   
  
  }
}




@media (max-width:900px) {
  .nav-main-NAv > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    z-index: 1000 !important;
    top: 0px;
    background-color: #011B58;
  }
  .nav-main-NAv > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav-main-NAv > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav-main-NAv > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav-btn:hover .nav-links{
      display: block !important;
  }
  .nav-main-NAv > .nav-links {
    position: fixed;
    display: block;
    width: 100%;
    z-index: 200 !important;
    background-color: #011B58;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    margin-left: 0px;
  }
  .nav-main-NAv > .nav-links > a {
    display: block;
    width: 100%;
    
  }
  .nav-main-NAv > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav-main-NAv > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
  .nav-main-NAv {
 
   
    height: 60px !important;
  }
}


ul {
  margin: 0px;
  padding: 0px;
}
.footer-section {
background: #011B58;
position: relative;
}
.footer-cta {
border-bottom: 1px solid white;
}
.single-cta i {
color: #2BA3D6;
font-size: 30px;
float: left;
margin-top: 8px;
}
.cta-text {
padding-left: 15px;
display: inline-block;
}
.cta-text h4 {
color: #fff;
font-size: 20px;
font-weight: 600;
margin-bottom: 2px;
}
.cta-text span {
color: white;
font-size: 15px;
}
.footer-content {
position: relative;
z-index: 2;
}
.footer-pattern img {
position: absolute;
top: 0;
left: 0;
height: 330px;
background-size: cover;
background-position: 100% 100%;
}
.footer-logo {
margin-bottom: 30px;
}
.footer-logo img {
  max-width: 200px;
}
.footer-text p {
margin-bottom: 14px;
font-size: 14px;
    color: white;
line-height: 28px;
}
.footer-social-icon span {
color: #fff;
display: block;
font-size: 20px;
font-weight: 700;
font-family: 'Poppins', sans-serif;
margin-bottom: 20px;
}
.footer-social-icon a {
color: #fff;
font-size: 16px;
margin-right: 15px;
}
.footer-social-icon i {
height: 40px;
width: 40px;
text-align: center;
line-height: 38px;
border-radius: 50%;
}
.facebook-bg{
background: #3B5998;
}
.twitter-bg{
background: #55ACEE;
}
.google-bg{
background: #DD4B39;
}
.footer-widget-heading h3 {
color: #fff;
font-size: 20px;
font-weight: 600;
margin-bottom: 40px;
position: relative;
}
.footer-widget-heading h3::before {
content: "";
position: absolute;
left: 0;
bottom: -15px;
height: 2px;
width: 50px;
background: #ff5e14;
}
.footer-widget ul li {
display: inline-block;
float: left;
width: 50%;
margin-bottom: 12px;
}
.footer-widget ul li a:hover{
color: #ff5e14;
}
.footer-widget ul li a {
color: white;
text-transform: capitalize;
}
.subscribe-form {
position: relative;
overflow: hidden;
}
.subscribe-form input {
width: 100%;
padding: 14px 28px;
background: #2E2E2E;
border: 1px solid #2E2E2E;
color: #fff;
}
.subscribe-form button {
  position: absolute;
  right: 0;
  background: #2BA3D6;
  padding: 13px 20px;
  border: 1px solid #2BA3D6;
  top: 0;
}
.subscribe-form button i {
color: #fff;
font-size: 22px;
transform: rotate(-6deg);
}
.copyright-area{
background: #202020;
padding: 25px 0;
}
.copyright-text p {
margin: 0;
font-size: 14px;
color: white;
}
.copyright-text p a{
color: #ff5e14;
}
.footer-menu li {
display: inline-block;
margin-left: 20px;
}
.footer-menu li:hover a{
color: #ff5e14;
}
.footer-menu li a {
font-size: 14px;
color: white;
}
.call-icon{
  color: white;
}
.btn-log-Sign{
  background-color: #279FD2;
  padding: 10px !important;
  margin-left: 50px !important;
  border-radius: 5px;
  cursor: pointer;
  
}



.loader-circle {
  width: 30px;
  height: 30px;
  border: 3px solid #3B5998;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 

