
.controlADMinorder_tb{
   width: 100%;

}
.controlADMinorder_tb table{
   width: 90%;
   padding: 5px;
   margin: 0 auto;
   margin-top: 1%;
}


/* .product {
	margin-bottom: 30px;
}
.product-inner {
	box-shadow: 0 0 10px rgba(0,0,0,.2);
	padding: 10px;
}
.product img {
	margin-bottom: 10px;
} */