
.controlADMinorder_tb{
   width: 100%;

}
.controlADMinorder_tb table{
   width: 90%;
   padding: 5px;
   margin: 0 auto;
   margin-top: 1%;
}

.pagination{
 
   justify-content: center;
   text-align: center;
   padding: 5px;
}
/* .product {
	margin-bottom: 30px;
}
.product-inner {
	box-shadow: 0 0 10px rgba(0,0,0,.2);
	padding: 10px;
}
.product img {
	margin-bottom: 10px;
} */



/* HTML: <div class="loader"></div> */
.loader-come {
   width: 50px;
   aspect-ratio: 1;
   display: grid;
   border-radius: 50%;
   background:
     linear-gradient(0deg ,rgb(0 0 0/50%) 30%,#0000 0 70%,rgb(0 0 0/100%) 0) 50%/8% 100%,
     linear-gradient(90deg,rgb(0 0 0/25%) 30%,#0000 0 70%,rgb(0 0 0/75% ) 0) 50%/100% 8%;
   background-repeat: no-repeat;
   animation: l23 1s infinite steps(12);
 }
 .loader-come::before,
 .loader-come::after {
    content: "";
    grid-area: 1/1;
    border-radius: 50%;
    background: inherit;
    opacity: 0.915;
    transform: rotate(30deg);
 }
 .loader-come::after {
    opacity: 0.83;
    transform: rotate(60deg);
 }
 @keyframes l23 {
   100% {transform: rotate(1turn)}
 }

 /* .tansDroP{
   background: rgb(238, 231, 231);
 } */