.hh-grayBox {
	background-color: #F8F8F8;
    width: 100%;
	margin-bottom: 20px;
	/* padding: 35px; */
  margin-top: 20px;
}
.pt45{padding-top:45px;}
.order-tracking{
	text-align: center;
	width: 33.33%;
	position: relative;
	display: block;
}

.order-tracking .is-complete{
	display: block;
	position: relative;
	border-radius: 50%;
	height: 30px;
	width: 30px;
	border: 0px solid #AFAFAF;
	background-color: #f7be16;
	margin: 0 auto;
	transition: background 0.25s linear;
	-webkit-transition: background 0.25s linear;
	z-index: 2;
}
.order-tracking .is-complete:after {
	display: block;
	position: absolute;
	content: '';
	height: 14px;
	width: 7px;
	top: -2px;
	bottom: 0;
	left: 5px;
	margin: auto 0;
	border: 0px solid #AFAFAF;
	border-width: 0px 2px 2px 0;
	transform: rotate(45deg);
	opacity: 0;
}
.order-tracking.completed .is-complete{
	border-color: #27aa80;
	border-width: 0px;
	background-color: #27aa80;
}
.order-tracking.completed .is-complete:after {
	border-color: #fff;
	border-width: 0px 3px 3px 0;
	width: 7px;
	left: 11px;
	opacity: 1;
}
.order-tracking p {
	color: #A4A4A4;
	font-size: 16px;
	margin-top: 8px;
	margin-bottom: 0;
	line-height: 20px;
}
.order-tracking p span{font-size: 14px;}
.order-tracking.completed p{color: #000;}
.order-tracking::before {
	content: '';
	display: block;
	height: 3px;
	width: calc(100% - 40px);
	background-color: #f7be16;
	top: 13px;
	position: absolute;
	left: calc(-50% + 20px);
	z-index: 0;
}
.order-tracking:first-child:before{display: none;}
.order-tracking.completed:before{background-color: #27aa80;}









.app {
	text-align: center;
	margin-top: 50px;
  }
  
  .progress-container {
	display: flex;
	align-items: center;
	position: relative;
	width: 80%;
	margin: 0 auto;
  }
  
  .stage {
	text-align: center;
	flex: 1;
	position: relative;
  }
  
  .icon-container {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #e0e0e0;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	color: #555;
	font-size: 1.5em;
  }
  
  .stage.active .icon-container {
	background-color: #4caf50;
	color: #fff;
  }
  
  .stage span {
	margin-top: 10px;
	display: block;
	color: #555;
  }
  
  .stage.active span {
	font-weight: bold;
	color: #4caf50;
  }
  
  .arrow {
	width: 30px;
	height: 2px;
	background-color: #ccc;
	position: absolute;
	top: 20px;
	right: -15px;
  }
  
  .stage.active + .arrow {
	background-color: #4caf50;
  }
  
  .progress-bar {
	position: absolute;
	top: 20px;
	left: 0;
	height: 4px;
	background-color: #4caf50;
	z-index: -1;
	transition: width 0.3s ease;
  }
  
  .controls button {
	margin: 10px;
	padding: 10px 20px;
	border: none;
	color: white;
	background-color: #4caf50;
	cursor: pointer;
	border-radius: 5px;
  }
  
  .controls button:disabled {
	background-color: #bdbdbd;
	cursor: not-allowed;
  }

  @media(max-width: 640px ){
	.setDtoNAme{
		font-size: 10px;
	  }
	  .setDtoNAmeDate{
		font-size: 8px;
	  }
  }
  